/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Mulish:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    /* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */
}

/* shared styles */

.text-color-orng {
    color: #FF5400;
}

/* header section */
.head-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 140px;
}

.text-color-ornge {
    font-weight: 700;
    color: #FF5400;

}

.head-tag8 {
    font-size: 2.2rem;
    font-weight: 800;
    color: 131318;
}

.head-sec>ul {
    display: flex;
}

.head-sec li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}

.head-sec li a {
    color: #424247;
    text-decoration: none;
}

.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
    max-width: 1170px;
    height: 500px;
}

.banner-content {
    align-items: center;
    text-align: center;
    padding-top: 106px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title {
    color: #FFF;
    font-weight: 800;
    font-size: 4rem;
}

.banner-description {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
}

.form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    gap: 22px;

}
/* tours */
.btn-primary   {
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    color: #FFF;
    padding: 14px 35px;
}
.read-more{
    font-weight: 800;
    font-size: 1.25rem;
}

.tours-container{
    display: flex;
    align-items: center;
    margin: 100px 130px;
    gap: 80px;
}

.tours-title{
    color: #131318;
    font-weight: 800;
    font-size: 2.4rem;
}

/* destination */
.destination-container{
    text-align: center;
}
.row{
    display:flex;
    gap: 10px;
    margin-bottom: 10px;
    border: 100px 130px;
    
}



/* media query for mobile devices */

@media screen and (max-width: 600px) {
    .head-sec{
        flex-direction: column;
    }
    .head-sec ul{
        flex-direction: column;
    }
    .banner{
        width: 90%;
    }
    .form{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
        width: 90%;
    }
}