/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Mulish:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
     font-family: 'Inter', sans-serif;
/* font-family: 'Merriweather', serif;  */
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */
}

/* shared styles */

.text-color-orng {
    color: #FF5400;
}

/* header section */
header {
    max-width: 1000px;
    margin: 0 auto;
}

.head-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 140px;
}

.text-color-ornge {
    font-weight: 700;
    color: #FF5400;

}

.head-tag8 {
    font-size: 2.2rem;
    font-weight: 800;
    color: 131318;
}

.head-sec>ul {
    display: flex;
}

.head-sec li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}

.head-sec li a {
    color: #424247;
    text-decoration: none;
}

/* banner */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    height: 500px;

}

/* .form > input{
    padding: 14px 75px 15px 14px;

} */

.banner-content {
    align-items: center;
    text-align: center;
    padding-top: 106px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title {
    color: #FFF;
    font-weight: 800;
    font-size: 4rem;
}

.banner-description {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
}

.form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    gap: 22px;

}

main {
    max-width: 1000px;
    margin: 100px auto;
}

/* tours */
.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    color: #FFF;
    padding: 14px 35px;
}

.read-more {
    font-weight: 800;
    font-size: 1.25rem;
}

.tours-container {
    display: flex;
    align-items: center;
    /* margin: 100px 130px; */
    gap: 40px;

}

.tours-body {
    padding-left: 9px;
    padding-right: 70px;
}

.tours-title {
    color: #131318;
    font-weight: 800;
    font-size: 2.4rem;
}

.tours-img {
    width: auto;
}

/* destination */
.destination-container {
    text-align: center;
    margin-top: 100px;
}

.row {
    height: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.destination-images {
    margin-right: 16rem;

}

/* box section */

.cards-container {
    text-align: center;
    margin-top: 6.2rem;
}

.card {
    color: #131318;
    font-size: 1.6rem;
    font-weight: 800;

}

.p-card {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.box1 {
    border-radius: 16px;
    border: 1px solid rgba(138, 77, 8, 0.2);
    background: rgba(251, 181, 99, 0.05);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
}

.box2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.box3 {
    border-radius: 16px;
    border: 2px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 56px 250px 100px;
    padding: 40px;
}

.hotel{
    padding-right: 300px ;
}
.map{
    padding-right: 300px;

}
.price{
    padding-right: 300px;
}
.grid-box {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 40px 40px;
}

.grid-box2 {
    justify-content: center;
    padding: 24px;
}

/* newsletter */
.news-whole{
    display: flex;
    gap: 10px;
}

.news {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 60px 20px ;
    justify-content: center;
    text-align: center;
    
    
}
.btn-primary2{
    border-radius: 4px;
    background: #FF5400;
    border-style: none;
    color: #FFF;
    padding: 14px 28px;
    width: 210px;
    height: 40px;

}
.img-eight{
    border-radius: 16px;
}
.inpt2{
    height: 40px;
    width: 200px;
}
.inpt1{
    height: 40px;
    width: 200px;
}
.Svbadge{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    width: 200px;
    height: 100px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 260px;
    left: 350px;
    transform: rotate(-40deg) ;
    
}
.footer{
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
}



/* media query for mobile devices */

@media screen and (max-width: 600px) {
    .head-sec {
        flex-direction: column;
        margin: auto;
    }

    .head-sec ul {
        flex-direction: column;
    }
    /* body {
        /* background-color: lightblue; */
        /* idth: 100%;
        height: auto;
        margin: 0;
    }w */ 
    
    

    h2{
        flex-direction: column;
        width: 100%;
        
    }
    .banner{
        width: 100%;
        height: auto;
    }

    .banner-content {
        padding: 2px;
        max-width: 100%;
        
    }

    .form {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .tours-container {
        flex-direction: column;

    }

    .tours-img{
        width: 100%;
        height: auto;
        
    }

    .tours-body {
        padding-left: 9px;
        padding-right: 9px;
    }
    .grid-box{
        flex-direction: column;
    }
    .grid-box2{
        flex-direction: column;
    }
    .news-whole{
        flex-direction: column;
    }
    .box3{
        margin: 0;
    }

    
}